## Config for frontend
# Domain
DOMAIN_WEBSITE=



## Config for backend 
# Config database
DATABASE_URL=

# Config API to ISP
ISP_API_URL=
ISP_EMAIL=
ISP_MPWD=

# Config sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD =
MAIL_BCC=
DEFAULT_NAME_SENDER=

# Crontask sending the email quote reminder
QUOTE_REMINDER_CRON=

# Logging
LOG_FILE_PATH=
LOG_MAX_SIZE=

# Logo email
LOGO_EMAIL_URL=