# Config for Frontend
NEXT_PUBLIC_DOMAIN_WEBSITE=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1

NEXT_PUBLIC_API_CMS_BASE_URL=https://cms.triceratopdev.com/api
NEXT_PUBLIC_API_CMS_TOKEN=01adf500f461b4941905d6fba440f6914ea8ed66a703c1067986530c723aab5f41a0e80330828fc3f5ac4fcf1259afba136fd724982c71775a1e5454105bf7289788a6214dd31abf6c860b66485f7134fc41b0851123f996d1856478a14bbd3d232a4057056bfe4362347d9bd83bd63513e6153f0f617df342a9e4cff581b8ff

NEXT_PUBLIC_REDIRECT_PAYMENT_WEBSITE=http://localhost:3000/motor/summary
NEXT_PUBLIC_CALLBACK_PAYMENT_URL=http://localhost:3000/api/v1/payment-result

PRODUCT_MAID_ID=M000000000103
NEXT_PUBLIC_REDIRECT_PAYMENT_FOR_MAID_WEBSITE=http://localhost:3000/maid/summary

NEXT_PUBLIC_ZIP_FILE_NAME=documents.zip
DEBUG_LOG_FLAG=FALSE

# Domain
DOMAIN_WEBSITE=

## Config for backend
# Config database
DATABASE_URL=

# Config API to ISP
ISP_API_URL=
ISP_EMAIL=
ISP_MPWD=

# Config sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD =
MAIL_BCC=
DEFAULT_NAME_SENDER=

# Crontask sending the email quote reminder
QUOTE_REMINDER_CRON=

# Logging
LOG_FILE_PATH=
LOG_MAX_SIZE=

# Logo email
LOGO_EMAIL_URL=

# Car Singpass
SINGPASS_ISSUER_URL=
CAR_CLIENT_ID=
CAR_REDIRECT_URI=
CAR_SCOPES=
CAR_KEYS_PRIVATE_SIG_KEY=
CAR_KEYS_PRIVATE_ENC_KEY=
CAR_KEYS_PUBLIC_SIG_KEY=
CAR_KEYS_PUBLIC_ENC_KEY=

# Maid Singpass
MAID_CLIENT_ID=
MAID_REDIRECT_URI=
MAID_SCOPES=
MAID_KEYS_PRIVATE_SIG_KEY=
MAID_KEYS_PRIVATE_ENC_KEY=
MAID_KEYS_PUBLIC_SIG_KEY=
MAID_KEYS_PUBLIC_ENC_KEY=

# Renewal Singpass
RENEWAL_CLIENT_ID=
RENEWAL_REDIRECT_URI=
RENEWAL_SCOPES=
RENEWAL_KEYS_PRIVATE_SIG_KEY=
RENEWAL_KEYS_PRIVATE_ENC_KEY=
RENEWAL_KEYS_PUBLIC_SIG_KEY=
RENEWAL_KEYS_PUBLIC_ENC_KEY=