@import "variable";

$i: 0;
@while $i <= 500 {
    .z-#{$i} {
        z-index: #{$i} !important;
    }
    .gap-#{$i} {
        gap: #{$i}px !important;
    }
    .m-#{$i} {
        margin: #{$i}px !important;
    }
    .-m-#{$i} {
        margin: -#{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .-mt-#{$i} {
        margin-top: -#{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .-mb-#{$i} {
        margin-bottom: -#{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .-ml-#{$i} {
        margin-left: -#{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .-mr-#{$i} {
        margin-right: -#{$i}px !important;
    }
    .mx-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
    .-mx-#{$i} {
        margin-left: -#{$i}px !important;
        margin-right: -#{$i}px !important;
    }
    .my-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .-my-#{$i} {
        margin-top: -#{$i}px !important;
        margin-bottom: -#{$i}px !important;
    }
    .p-#{$i} {
        padding: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
    .px-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
    }
    .py-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
    }
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }
    .w-#{$i} {
        width: #{$i}px !important;
    }
    .mxw-#{$i} {
        max-width: #{$i}px !important;
    }
    .mw-#{$i} {
        min-width: #{$i}px !important;
    }
    .h-#{$i} {
        height: #{$i}px !important;
    }
    .mh-#{$i} {
        min-height: #{$i}px !important;
    }
    .l-#{$i} {
        left: #{$i}px !important;
    }
    .r-#{$i} {
        right: #{$i}px !important;
    }
    .t-#{$i} {
        top: #{$i}px !important;
    }
    .b-#{$i} {
        bottom: #{$i}px !important;
    }
    .flex-basis-#{$i} {
        flex-basis: #{$i}px !important;
    }
    @if $i < 24 {
        $i: $i + 1;
    } @else if $i < 100 {
        $i: $i + 2;
    } @else {
        $i: $i + 4;
    }
}

$l: 48;
@while $l >= -48 {
    .l-#{$l} {
        left: #{$l}px !important;
    }
    .r-#{$l} {
        right: #{$l}px !important;
    }

    $l: $l - 4;
}

$zIndexes: (1, 100, 1000);
@each $zIndex in $zIndexes {
    .z-index-#{"" + $zIndex} {
        z-index: #{$zIndex} !important;
    }
}

$directions: ("top", "right", "bottom", "left");

@each $name, $hex in $colors {
    .text-#{"" + $name} {
        color: #{$hex} !important;
    }
    .text-#{"" + $name}-hover:hover {
        color: #{$hex} !important;
    }
    .text-#{"" + $name}-focus:focus {
        color: #{$hex} !important;
    }
    .bg-#{"" + $name} {
        background-color: #{$hex} !important;
    }
    .bg-#{"" + $name}-hover:hover {
        background-color: #{$hex} !important;
    }
    .bg-#{"" + $name}-focus:focus {
        background-color: #{$hex} !important;
    }
    .border-#{"" + $name} {
        border-color: #{$hex} !important;
    }
    .border-#{"" + $name}-hover:hover {
        border-color: #{$hex} !important;
    }
    .border-#{"" + $name}-focus:focus {
        border-color: #{$hex} !important;
    }
    @each $direction in $directions {
        .border-#{$direction}-#{"" + $name} {
            border-#{$direction}-color: #{$hex} !important;
        }
        .border-#{$direction}-#{"" + $name}-hover:hover {
            border-#{$direction}-color: #{$hex} !important;
        }
        .border-#{$direction}-#{"" + $name}-focus:focus {
            border-#{$direction}-color: #{$hex} !important;
        }
    }
}

.bg-white-opacity {
    background-color: transparentize(#fff, 0.76) !important;
}

.bg-gray-opacity {
    background-color: transparentize(#000, 0.92) !important;
}

$flexDirection: ("column", "row", "column-reverse", "row-reverse", "inherit");
@each $direction in $flexDirection {
    .flex-direction-#{$direction} {
        flex-direction: #{$direction} !important;
    }
}

$displayProps: (
    "block",
    "inline-block",
    "inline",
    "flex",
    "grid",
    "inline-flex",
    "inline-grid",
    "table",
    "inline-table",
    "list-item",
    "none",
    "contents"
);
@each $display in $displayProps {
    .d-#{$display} {
        display: #{$display} !important;
    }
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

$visibilityProps: ("visible", "hidden", "collapse", "initail", "inherit");
@each $visibility in $visibilityProps {
    .visibility-#{$visibility} {
        visibility: #{$visibility};
    }
}

$positions: ("static", "absolute", "fixed", "relative", "sticky", "initial", "inherit");
@each $position in $positions {
    .position-#{$position} {
        position: #{$position} !important;
    }
}

$textAlignments: ("left", "right", "center", "revert", "revert", "unset", "justify");
@each $textAlign in $textAlignments {
    .text-#{$textAlign} {
        text-align: #{$textAlign} !important;
    }
}

$resizeValues: ("none", "both", "horizontal", "vertical", "initial", "inherit", "unset");
@each $resizeValue in $resizeValues {
    .resize-#{$resizeValue} {
        resize: #{$resizeValue} !important;
    }
}

$alignments: (
    "start",
    "center",
    "space-between",
    "space-around",
    "space-evenly",
    "flex-start",
    "flex-end",
    "baseline",
    "right"
);
@each $align in $alignments {
    .justify-#{$align} {
        justify-content: #{$align} !important;
    }
    .items-#{$align} {
        align-items: #{$align} !important;
    }
    .justify-items-#{$align} {
        justify-items: #{$align} !important;
    }
    .content-#{$align} {
        align-content: #{$align} !important;
    }
}

$alignSelfs: ("stretch", "auto", "center", "end", "flex-start", "flex-end", "baseline");
@each $align in $alignSelfs {
    .self-#{$align} {
        align-self: #{$align} !important;
    }
}

$borderRadius: (
    none: "0px",
    xs: "2px",
    sm: "4px",
    md: "8px",
    lg: "16px",
    xxl: "20px",
);
@each $name, $size in $borderRadius {
    .border-radius-#{$name} {
        border-radius: #{$size} !important;
    }
}

.border-radius-50p {
    border-radius: 50%;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-6 {
    border-radius: 6px !important;
}

$borders: (1, 2, 3, 4, 5, 6, 7, 8);
@each $border in $borders {
    .border-#{$border} {
        border-width: #{$border}px !important;
    }
    @each $direction in $directions {
        .border-#{$direction}-#{$border} {
            border-#{$direction}-width: #{$border}px !important;
        }
    }
}

$borderStyles: ("dotted", "dashed", "solid", "double", "groove", "ridge", "inset", "outset", "hidden");
@each $border in $borderStyles {
    .border-#{$border} {
        border-style: #{$border} !important;
    }
    @each $direction in $directions {
        .border-#{$direction}-#{$border} {
            border-#{$direction}-style: #{$border} !important;
        }
    }
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-1 {
    flex: 1 !important;
}

// Width, height
.w-560 {
    width: 560px !important;
}

.w-688 {
    width: 688px !important;
}

.height-100vh {
    height: 100vh;
}

.width-100vw {
    width: 100vw;
}

.max-w-100p {
    max-width: 100% !important;
}

.max-w-350 {
    max-width: 350px !important;
}

.max-w-500 {
    max-width: 500px !important;
}

.max-w-600 {
    max-width: 600px !important;
}

.max-w-900 {
    max-width: 900px !important;
}

.max-h-250 {
    max-height: 250px !important;
}

.max-h-360 {
    max-height: 360px !important;
}

.max-h-509 {
    max-height: 509px !important;
}

.min-h-563 {
    min-height: 563px !important;
}

.min-h-132 {
    min-height: 132px !important;
}

.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
}

.w100p {
    width: 100% !important;
}
.w45p {
    width: 45% !important;
}

.w50p {
    width: 50% !important;
}
.w80p {
    width: 80% !important;
}

.w90p {
    width: 90% !important;
}

.h100p {
    height: 100% !important;
}

.h-100vh {
    height: 100vh;
}

.h95p {
    height: 95% !important;
}

.m-height {
    min-height: 100vh;
}

// Margin, padding
.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto !important;
}

.mt-auto {
    margin-top: auto;
}

// Other
.ease-all {
    transition: all ease 300ms;
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-sm {
    box-shadow:
        0 0 2px rgba(0, 0, 0, 0.14),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 1px 3px rgba(0, 0, 0, 0.2);
}

.shadow-md {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
}

$whiteSpaces: ("break-spaces", "normal", "nowrap", "pre", "pre-line", "pre-wrap", "unset");
@each $whiteSpace in $whiteSpaces {
    .white-space-#{$whiteSpace} {
        white-space: #{$whiteSpace} !important;
    }
}

$wordWraps: ("break-word", "normal", "unset");
@each $wordWrap in $wordWraps {
    .word-wrap-#{$wordWrap} {
        word-wrap: #{$wordWrap} !important;
    }
    .word-break-#{$wordWrap} {
        word-break: #{$wordWrap} !important;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-line {
    word-break: break-all;
    white-space: break-spaces;
}

// Font weight
$fontWeights: (400, 500, 600, 700);
@each $fontWeight in $fontWeights {
    .fw-#{$fontWeight} {
        font-weight: #{$fontWeight} !important;
    }
}

// Line height
$i: 0;
@while $i <= 50 {
    .lh-#{$i} {
        line-height: #{$i}px !important;
    }
    $i: $i + 2;
}

// Text decoration underline
$textDecorations: ("line-through", "none", "overline", "underline");
@each $textDecoration in $textDecorations {
    .text-decoration-#{$textDecoration} {
        text-decoration: #{$textDecoration} !important;
    }
}

// Opacity
$i: 0;
@while $i <= 100 {
    .opacity-#{$i} {
        opacity: calc(#{$i} / 100) !important;
    }
    .opacity-#{$i}-hover:hover {
        opacity: calc(#{$i} / 100) !important;
    }
    $i: $i + 10;
}

//overflow
$overflows: ("auto", "hidden", "unset", "scroll", "overlay", "visible", "inherit", "initial", "revert");
@each $overflow in $overflows {
    .overflow-#{$overflow} {
        overflow: #{$overflow} !important;
    }
    .overflow-x-#{$overflow} {
        overflow-x: #{$overflow} !important;
    }
    .overflow-y-#{$overflow} {
        overflow-y: #{$overflow} !important;
    }
}

// Letter spacing
$letterSpacing: (1, 2, 3, 4, 5);
@each $letterSpacing in $letterSpacing {
    .lh-#{$letterSpacing} {
        letter-spacing: #{$letterSpacing}px !important;
    }
}

$userSelections: ("none", "auto", "unset");
@each $userSelection in $userSelections {
    .u-selection-#{$userSelection} {
        user-select: #{$userSelection} !important;
    }
}

$cursors: ("pointer", "not-allowed", "default", "text", "grab");
@each $cursor in $cursors {
    .cursor-#{$cursor} {
        cursor: #{$cursor} !important;
    }
}

$pointerEvents: ("auto", "none");
@each $pointerEvent in $pointerEvents {
    .pointer-events-#{$pointerEvent} {
        pointer-events: #{$pointerEvent} !important;
    }
}

.border-none {
    border: none !important;
}

@each $direction in $directions {
    .border-#{$direction}-none {
        border-#{$direction}: none !important;
    }
    .border-#{$direction}-unset {
        border-#{$direction}: unset !important;
    }
}

.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

.disable-scroll {
    overflow-y: hidden !important;
}

.bg-none {
    background: none !important;
}

.fade-in {
    opacity: 0;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-name: fadeIn;
    animation-play-state: running;
}

.fade-out {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-name: fadeOut;
    animation-play-state: running;
}

.list-style-type-none {
    list-style-type: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
