$colors: (
    gray-100: #000000,
    gray-90: #222222,
    gray-80: #444444,
    gray-70: #666666,
    gray-65: #acadb0,
    gray-60: #acadb0,
    gray-50: #cdcfd2,
    gray-45: #c9c7d1,
    gray-40: #cccccc,
    gray-30: #e6ebec,
    gray-25: #dedef8,
    gray-20: #eeeeee,
    gray-15: #f8f8fc,
    gray-10: #f9f9f9,
    gray-5: #fafafa,
    white: #ffffff,
    blue-100: #2b00ff,
    blue-10: #e0e4fa,
    red-100: #ff0000,
    red-90: #ff0d35,
    red-80: #eb253d,
    pink-100: #f62b5f,
    purple-100: #ff08c2,
    orange-100: #fd6f2c,
    orange-10: #fd6f2c1a,
    yellow-100: #fcb400,
    green-100: #34a853,
    light-blue-100: #18bfff,
    deep-blue-100: #1976d2,
    deep-blue-90: #1e88e5,
    dark-green-100: #06a72a,
    alert-info-60: #e6f4ff,
    alert-info-100: #91caff,
    pale-blue: #ebeeff,
    dark-100: #000000,
);

$primary: map-get($colors, blue-100);
$text-base: map-get($colors, gray-100);
